html,body{
  margin: 0 auto;
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
  font-size: 8pt;
}

.container{
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  background-color: #fff;
}

.mainBody{
  margin: 0 auto;
  display: grid;
  max-width: 80%;
  grid-template-columns: 5fr 1fr;
}
.mainBody img{
  max-width: 100%;
}
.mainBody h1{
  font-size: 5em;
  text-transform: uppercase;
}

.info{
  color: white;
  background: black;
  height: 100px;
}

.cardGallery{
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  background-color: #fff;
  text-align: center;
}
.thumbArea{
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  background-color: #fff;
}
.thumb{
  width: 80px;
  height: 80px;
  background-image: url('../img/lovers.png');
  background-size: cover;
  margin:2px;
}
