.btn {
  position: fixed;
  width: 50px;
  height: 50px;
  cursor: pointer;
  top: 0;
  left: 0;
  z-index: 99;
  top: 10px;
  left: 12px;
  background: #666;
}

.tp {
  width: 24px;
  height: 2px;
  background: #000;
  left: 13px;
  top: 18px;
  position: relative;
-webkit-transition:0.2s;
   -moz-transition:0.2s;
     -o-transition:0.2s;
        transition:0.2s;
}

.ct {
  width: 24px;
  height: 2px;
  background: #000;
  left: 13px;
  top: 22px;
  position: relative;
-webkit-transition:0.2s;
   -moz-transition:0.2s;
     -o-transition:0.2s;
        transition:0.2s;
}

.bt {
  width: 24px;
  height: 2px;
  background: #000;
  left: 13px;
  top: 26px;
  position: relative;
-webkit-transition:0.2s;
   -moz-transition:0.2s;
     -o-transition:0.2s;
        transition:0.2s;
}


.down {
  width: 24px;
  height: 2px;
  background: #000;
  left: 13px;
  top: 24px;
  position: relative;
-webkit-transition:0.2s;
   -moz-transition:0.2s;
     -o-transition:0.2s;
        transition:0.2s;
}

.up {
  width: 24px;
  height: 2px;
  background: #000;
  left: 13px;
  top: 20px;
  position: relative;
-webkit-transition:0.2s;
   -moz-transition:0.2s;
     -o-transition:0.2s;
        transition:0.2s;
}
