<<<<<<< HEAD
.photos {
   /* Prevent vertical gaps */
   line-height: 0;

   -webkit-column-count: 3;
   -webkit-column-gap:   0px;
   -moz-column-count:    3;
   -moz-column-gap:      0px;
   column-count:         3;
   column-gap:           0px;

}

.photos img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
}

@media (max-width: 1200px) {
  .photos {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }

  .video{
    max-width: 70%;
  }
}
@media (max-width: 1000px) {
  .photos {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 800px) {
  .photos {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
}
  .video{
    -webkit-max-width: 100%;
    -moz-max-width: 100%;
    max-width: 100%;
  }
}
@media (max-width: 400px) {
  .photos {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
  .video{
    -webkit-max-width: 100%;
    -moz-max-width: 100%;
    max-width: 100%;
  }
}
=======
.photos {
   /* Prevent vertical gaps */
   line-height: 0;

   -webkit-column-count: 3;
   -webkit-column-gap:   0px;
   -moz-column-count:    3;
   -moz-column-gap:      0px;
   column-count:         3;
   column-gap:           0px;

}

.photos img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;

}

.pageContainer{
  width: 960px;
  margin: 0 auto;
}
@media (max-width: 1200px) {
  .photos {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }

  .video{
    max-width: 70%;
  }

  .pageContainer{
    width: 100%;
  }
}
@media (max-width: 1000px) {
  .photos {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
  .pageContainer{
    width: 100%;
  }
  .pageContainer{
    width: 100%;
  }
}
@media (max-width: 800px) {
  .photos {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
}
  .video{
    -webkit-max-width: 100%;
    -moz-max-width: 100%;
    max-width: 100%;
  }
  .pageContainer{
    width: 100%;
  }
}
@media (max-width: 400px) {
  .photos {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
  .video{
    -webkit-max-width: 100%;
    -moz-max-width: 100%;
    max-width: 100%;
  }
  .pageContainer{
    width: 100%;
  }
}
>>>>>>> master
