.coloredText{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#042d6b+0,8b3478+100 */
background: rgb(4,45,107); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(4,45,107,1) 0%, rgba(139,52,120,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(4,45,107,1) 0%,rgba(139,52,120,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(19, 56, 221,1) 0%,rgba(139,52,120,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#042d6b', endColorstr='#8b3478',GradientType=1 ); /* IE6-9 */
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.animated, .package:hover {
    background: #333;
    background: -webkit-linear-gradient(left bottom, rgb(43, 19, 255) 10%, rgb(245, 12, 214) 30%, rgb(243, 78, 202) 50%, #048 70%, rgb(19, 56, 221) 90%);
    background: -moz-linear-gradient(bottom right, #804 10%, #408 30%, rgb(235, 21, 255) 50%, #048 70%, #804 90%);
    background: linear-gradient(to bottom right, rgb(25, 59, 252) 10%, rgb(218, 241, 12) 30%, rgb(255, 22, 216) 50%, #048 70%, rgb(37, 12, 255) 90%);
    background-size: 800%;  
    -webkit-animation: moving_bg 6s ease infinite;
    -moz-animation: moving_bg 6s ease infinite;
    animation: moving_bg 6s ease infinite;
}

@-webkit-keyframes moving_bg {
    0%{ background-position: 0% 50% }
    50%{ background-position: 100% 50% }
    100%{ background-position: 0% 50% }
}
@-moz-keyframes moving_bg {
    0%{ background-position: 0% 50% }
    50%{ background-position: 100% 50% }
    100%{ background-position: 0% 50% }
}
@keyframes moving_bg {
    0%{ background-position: 0% 50% }
    50%{ background-position: 100% 50% }
    100%{ background-position: 0% 50% }
}